:root {
  --cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --base-font: Montserrat, sans-serif;
  --accent-font: Fraunces, sans-serif;
  --size-14px: 1rem;
  --size-40px: 2.25rem;
  --reg-weight: 500;
  --bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  width: 375px;
  height: 300px;
}

html {
  background-color: var(--cream);
}

body {
  font-size: var(--size-14px);
  line-height: 1.7;
  font-family: var(--base-font);
  font-weight: var(--reg-weight);
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
  padding: 1rem;
}

h1, p {
  overflow-wrap: break-word;
}

h1 {
  line-height: 1;
}

#card {
  background-color: var(--white);
  border-radius: 0.5rem;
  display: block;
  width: 343px;
}

article {
  display: grid;
  padding: 1.5rem 1.75rem;
  gap: 1rem;
}

img:nth-of-type(1) {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  max-width: 100%;
}

p:nth-of-type(1) {
  letter-spacing: 4px;
  text-transform: uppercase;
}


p:nth-of-type(3) {
  color: var(--cyan);
}

h1,
p:nth-of-type(3) {
  font-family: var(--accent-font);
  font-weight: var(--bold);
  font-size: var(--size-40px);
}

span {
  font-family: var(--base-font);
  font-weight: var(--reg-weight);
  font-size: var(--size-14px);
  color: #000;
  text-decoration-line: line-through;
  margin-left: 1rem;
  position: relative;
  bottom: 6px;
}

button {
  font-family: inherit;
  color: var(--white);
  font-weight: var(--bold);
  background:var(--cyan);
  border-radius: 0.5rem;
  height: 50px;
  width: 100%;
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button img {
  width: 1rem;
  height: 1rem;
}