html {
  background: hsl(30, 38%, 92%);
  max-width: 375px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-family: Fraunces, sans-serif;
  font-weight: 700;
}

.img {
  border-radius: 40px;
  padding: 10px;
}

h1 {
  font-family: Montserrat;
}

.name {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 40px;
}

.description {
  font-size: 14px;
}

.sale {
  color: hsl(158, 36%, 37%);
  font-family: Fraunces;
  font-weight: 700;
  font-size: 40px;
}

button {
  color: white;
  font-weight: 500;
  background: hsl(158, 36%, 37%);
  border-radius: 7px;
  width: 150px;
  display: block;
  margin: 0 auto;
}
